.score-box
{
    background-color: #FBFBFB;
    height: 263px;
    position: relative;
    max-width: 316px;
	flex: 1 1 200px;
}

.scrore-title
{
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 15px;  
}
.scrore-count
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .score-percent
    {
        font-size: 18px;
    }
    .score-text
    {
        font-size: 12px;
        color: grey;
    }
}

