.titre-dashboard
{
    font-size: 48px;
    
    .firstname
    {
        color: #FF0101;
    }
}



// partie gauche
.graphique
{
    height: 320px;
    background-color: #FBFBFB;
}
.point-rouge
{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #282D30;
}
.point-noir
{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #FF0000;
}
.objectifs
{
    height: 263px;
    background-color: #FF0000;

}
.radar
{
    height: 263px;
    background-color: #282D30;
}
.kpi
{
    height: 263px;
    background-color: #FBFBFB;;
}

// hauteur des 3 blocs analytics
.analityc-box
{
    height: 264px;
    position: relative;
}