body
{
    margin: 0;
    font-family: "Roboto";
}
.test
{
    border: 1px solid red !important;
}
#root
{
    max-height: 100vh;
    max-width: 100vw;
}
.vertical-spacer
{
    width: 117px;
}
.horizontal-sapcer
{
    height: 12vh;
}

