.line-box
{
    position: relative;
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 75%, rgba(220,0,0,1) 75%);

}
.line-text
{
    position: absolute;
    left: 10%;
    top: 10%;
    z-index: 10;
    color: rgba($color: white, $alpha: 0.5);
}
.LineChart
{
    // background-color: red;
}