.error-container
{
    color: #FF6060;
    text-align: center;
    padding-top: 100px;

    @media (max-width: 768px)
    {
        padding-top: 90px;
    }
}
.error-number
{
    font-size: 288px;
    font-weight: 700;
    margin-bottom: 66px;

    @media (max-width: 768px)
    {
        font-size: 96px;
        margin-bottom: 10px;
    }
}
.error-title
{
     font-size: 36px;
    font-weight: 500;
    margin-bottom: 182px;

    @media (max-width: 768px)
    {
        font-size: 18px;
        margin-bottom: 133px;
    }
}
.error-link
{
    font-size: 18px;
    font-weight: 500;
    color: #FF6060;
    padding-bottom: 29px;

    @media (max-width: 768px)
    {
        font-size: 14px;
    }
}